form#frm-verificationForm{
    text-align: -webkit-center;
}

form#frm-loginForm{
    text-align-last: center;
    margin-top: 50vh;
}

input#frm-loginForm-username{
    width: 20%;
    height: 5vh;
    margin: 1vh;
}

input#frm-loginForm-surname{
    width: 20%;
    height: 5vh;
    margin: 1vh;
}

select#frm-loginForm-questions{
    width: 16%;
    height: 5vh;
    margin: 1vh;
}

input#frm-form-questions{
    width: 100%;
    height: 25vh;
    text-align: center;
    margin: 1vh;
}

textarea#answer{
    width: 100%;
    height: 25vh;
    margin: 1vh;
}

div#timer{
    text-align: center;
}

#send-button{
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 10px 40px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    color: #515151;
    background: #d3d3d3;
    background: -moz-linear-gradient(top, #d3d3d3 0%, #8a8a8a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a));
    background: -webkit-linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
    background: -o-linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
    background: -ms-linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
    background: linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
}